html {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(65, 64, 64);
  font-family: "Verdana";
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
table {
  margin: 1% 3%;
  border-radius: 50px;
}
tr {
  height: 4rem;
}
td {
  width: 19%;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
}

/* redondeo de esquinas */
.upleftround {
  border-radius: 5px 0 0 0;
}
.uprightround {
  border-radius: 0 5px 0 0;
}
.downrightround {
  border-radius: 0 0 5px 0;
}
.downleftround {
  border-radius: 0 0 0 5px;
}
/* fin redondeo de esquinas */
.PROG:hover {
  background-color: #c1cfdd;
}
.EED:hover {
  background-color: #c7f5f1;
}
.FOL:hover {
  background-color: #e2c0b2;
}
.SI:hover {
  background-color: #e0b5c2;
}
.LDM:hover {
  background-color: #fdf2d1;
}
.BBDD:hover {
  background-color: #d4e2d6;
}
.DES:hover {
  background-color: #e7d6ee;
}
td:hover {
  box-shadow: -1px 3px 24px 3px rgba(0, 0, 0, 0.75);
  z-index: 1;
}
.ns {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.hora {
  color: white;
  background-color: rgb(58, 58, 58);
  width: 5%;
  font-size: 80%;
}
.cabecera {
  background-image: url("../img/fondo.jpg");
  opacity: 0.85;
  padding: 3% 0;
  text-align: center;
  border-bottom: 2px solid rgb(58, 58, 58);
}
h2 {
  font-size: 3rem;
  color: whitesmoke;
  margin: 0 5%;
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 1rem;
  }
}
/* ---------------tooltip--------------- */
.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  top: -2rem;
  left: 33%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: -1px 3px 24px 3px rgba(0, 0, 0, 0.75);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.foot {
    display: flex;
  justify-content: space-between;
  margin:0 5%;
}
